@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700&display=swap');

:root {
    /* FONTS */
    --font-family-base: 'League Spartan', sans-serif;
    --font-family-secondary: 'Manrope', sans-serif;

    --header-height: 70px;
    --sidebar-width: 60px;

    /* COLORS */
    --color-primary: #7578C7;
    --color-secondary: #0f0f0f;
    --color-dark-secondary: #1B1B1B;
    --color-text: #AEAEAE
}

/* COMMON CLASSES */
.card-info {
    background-color: var(--color-dark-secondary);
    border-radius: 15px;
    padding: 12px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.dsgn-flex {
    display: flex;
}

.dsgn-flex-column {
    display: flex;
    flex-direction: column;
}

.dsgn-flex-between {
    display: flex;
    justify-content: space-between;
}

.dsgn-align-center {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

/* COLOR TEXT AREA */
.text-white {
    color: #fff;
}

.text-white-secondary {
    color: var(--color-text);
}

/* FONT AREA */
.font-8 {
    font-size: 8px;
}

.font-12 {
    font-size: 12px;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-bold {
    font-weight: 500;
}